::-webkit-scrollbar { 
    display: none; 
}

html
{
  background-image: url('wallpaper.png');
}
.section
{
    padding: 1rem 1.5rem;
}

.title .title
{
  margin: 0rem;
  text-align:center;
}